<link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
<style>
    @font-face {
        font-family: "apercu";
        src: url('ApercuProLight.otf');
    }

    @font-face {
        font-family: "apercu";
        font-style: italic;
        src: url('ApercuProItalic.otf');
    }

    @font-face {
        font-family: "apercu";
        font-weight: bold;
        src: url('ApercuProBold.otf');
    }

    /* .right-extremity{
    margin-right: 10%;
} */
    body,
    p,
    .btn {
        font-family: "apercu";
    }


    .dw-insta {
        margin-left: 2%;
        color: #01a6c0 !important;
    }

    .plyr {
        height: 100%;
        width: 100%;
    }

    .video-content {
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex;
        justify-content: center;
        /* width: 900px; */
        height: 80vh;
        /* background-color: green; */
    }

    .plyr__video-wrapper {
        height: 100%;
    }


    .video-info {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        width: 70vw;
    }

    .video-info-header {
        margin-top: 3vh;
    }

    .tag {
        color: #00bfdb;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {

        border-color: #01a6c0 !important;
        background-color: #01a6c0 !important;
    }

    .btn-primary {
        border-color: #00bfdb !important;
        background-color: #00bfdb !important;
    }

    @media (max-width: 650px) {
        .text-smalll {
            font-size: small;
        }

        .additional {
            font-size: small
        }

        h1 {
            font-size: 1.25rem !important;
        }

        h5 {
            font-size: 1em !important;
        }

        p {
            font-size: 1em;
        }

        .video-info-description>p {
            font-size: 01em;
        }

        .tohide {
            display: none;
        }

        .mob {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
</style>




<div class="video-content">
    <video class="shadow-lg" id="player" playsinline controls>
        <source src=<%- src %> />
    </video>
</div>
<div class="video-info">
    <div class="video-info-header">
        <h1>
            <%- data.vname %>
        </h1>

        <div class="row desktop-header">
            <div class="col-4 align-self-center text-left">
                <h5>
                    <%- data.fname %>
                        <%- data.lname %>
                </h5>
                <p>
                    <%- data.city %> <span class="dot"></span>
                        <%- data.date %>
                </p>
            </div>
            <div class="col-2 align-self-center text-left">
                <%if (role==="admin" ) { %>
                    <a href="javascript:void(0);" id="contrat" style="color: #00bfdb;"
                        class="fas fa-file-contract fa-3x"
                        onclick="window.open('contract?storage=' +  '<%-data.storage%>','_blank')"></a>
                    <%} %>
            </div>
            <div class="col-6 align-self-center text-right">

                <%if (role==="admin" ) { %>
                    <h6 class="social">
                        <% switch (data.platform) { case 'TikTok' : %>
                            <a href="javascript:void(0);" class="fab fa-tiktok"></a>
                            <% break; case 'Instagram' : %>
                                <a href="javascript:void(0);" class="fab fa-instagram"></a>
                                <% break; case 'Youtube' : %>
                                    <a href="javascript:void(0);" class="fab fa-youtube"></a>
                                    <% break; } %>
                                        <%- data.credit %>
                    </h6>
                    <h6 class="email">
                        <%- data.email %>
                    </h6>
                    <h6 class="social">
                        <div class="modal fade" id="insta" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Instagram</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="instagram" class="col-form-label">Instagram:</label>
                                            <input type="text" class="form-control" id="instagram">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="insta('<%-data.id%>')">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%if (data.instagram) { %>
                            <a href="javascript:void(0);" class="fab fa-instagram"></a>
                            <%- data.instagram %>
                                <button style="border-radius: 5px;" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#insta">
                                    EDIT
                                </button>

                                <%}else { %>
                                    <button style="border-radius: 5px;" class="btn btn-primary btn-sm"
                                        data-toggle="modal" data-target="#insta">
                                        Add instagram
                                    </button>
                                    <%} %>
                    </h6>
                    <%} %>
            </div>
        </div>








        <div class="row mobile-header" hidden>
            <div class="col-8 align-self-center text-left">
                <h5>
                    <%- data.fname %>
                        <%- data.lname %>
                </h5>
                <p>
                    <%- data.city %> <span class="dot"></span>
                        <%- data.date %>
                </p>
            </div>
            <div class="col-4 align-self-center text-left" style="top: 0%;">
                <%if (role==="admin" ) { %>
                    <a href="javascript:void(0);" id="contrat" style="color: #00bfdb;"
                        class="fas fa-file-contract fa-3x"
                        onclick="window.open('contract?storage=' +  '<%-data.storage%>','_blank')"></a>
                    <%} %>
            </div>
            <div class="col-12 align-self-center text-left">

                <%if (role==="admin" ) { %>
                    <h6 class="social">
                        <% switch (data.platform) { case 'TikTok' : %>
                            <a href="javascript:void(0);" class="fab fa-tiktok"></a>
                            <% break; case 'Instagram' : %>
                                <a href="javascript:void(0);" class="fab fa-instagram"></a>
                                <% break; case 'Youtube' : %>
                                    <a href="javascript:void(0);" class="fab fa-youtube"></a>
                                    <% break; } %>
                                        <%- data.credit %>
                    </h6>
                    <h6 class="email">
                        <%- data.email %>
                    </h6>
                    <h6 class="social">
                        <div class="modal fade" id="_insta" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Instagram</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="_instagram" class="col-form-label">Instagram:</label>
                                            <input type="text" class="form-control" id="_instagram">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="insta('<%-data.id%>')">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%if (data.instagram) { %>
                            <a href="javascript:void(0);" class="fab fa-instagram"></a>
                            <%- data.instagram %>
                                <button style="border-radius: 5px;" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#_insta">
                                    EDIT
                                </button>

                                <%}else { %>
                                    <button style="border-radius: 5px;" class="btn btn-primary btn-sm"
                                        data-toggle="modal" data-target="#_insta">
                                        Add instagram
                                    </button>
                                    <%} %>
                    </h6>
                    <%} %>
            </div>
        </div>






        <h4 class="tag">
            <%- data.tag.charAt(0).toUpperCase() + data.tag.slice(1) %>
        </h4>
        <%if (role==="admin" ) { %>
            <a href="javascript:void(0);" id="tiktok-on" class="fab fa-tiktok"></a>
            <a href="javascript:void(0);" id="dollar-on" class="fas fa-dollar-sign"></a>
            <%} %>
    </div>
    <div class="video-info-description">
        <p>
            <%- data.description %>
        </p>
    </div>
    <div class="video-info-footer">
        <%if (role==="admin" ) { %>
            <button style="border-radius: 5px;" type="button" class="btn btn-primary"
                onclick="window.open(`/download?storage=${'<%-data.storage%>'}&video=video${'<%-data.ext%>'}`)">Download
                Video</button>
            <!-- <button style="border-radius: 5px;" type="button" class="btn btn-secondary">Edit</button> -->
            <button style="border-radius: 5px;" type="button" class="btn btn-danger"
                onclick="myDelete('<%-data.id%>')">Delete</button>

            <%} %>
                <div class="row ">
                    <div class="col mob align-self-center text-center">

                        <%if (role==="admin" ) { %>
                            <div class="modal fade" id="info" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="information">Information:</label>
                                                <textarea class="form-control" id="information"
                                                    rows="3"><%-data.info%></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"
                                                onclick="updateInfo('<%-data.id%>')">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%} %>
                                <h6 class="additional" style="margin-top: 5%;"><span class="tohide">Additional
                                    </span>Information

                                    <%if (role==="admin" ) { %>
                                        <button style="border-radius: 5px;" class="btn btn-primary btn-sm"
                                            data-toggle="modal" data-target="#info">
                                            EDIT
                                        </button>
                                        <%} %>
                                </h6>

                    </div>
                    <div class="mob col align-self-center text-center">
                        <%if (role==="admin" ) { %>
                            <div class="modal fade" id="clips" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Clip</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form id="myForm" action="/clip/add" method="POST"
                                            enctype='multipart/form-data'>
                                            <div class="modal-body">
                                                <div id="clips-modal"></div>
                                                <input name="storage" id="storage" type="text" value=<%-data.storage%>
                                                hidden>
                                                <input name="id" id="id" type="text" value=<%-data.id%> hidden>
                                                <div class="form-group">
                                                    <input class="input-file" id="file" type="file" name="file">
                                                    <label for="file" class="input-file-trigger"></label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add File</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <%} %>
                                <h6 class="additional" style="margin-top: 5%;"><span class="tohide">Additional</span>
                                    Clips
                                    <%if (role==="admin" ) { %>
                                        <button style="border-radius: 5px;" class="btn btn-primary btn-sm"
                                            data-toggle="modal" data-target="#clips">
                                            EDIT
                                        </button>
                                        <%} %>
                                </h6>
                    </div>
                </div>


                <div class="row">
                    <div class="col align-self-center text-center">
                        <p class="text-smalll">
                            <%-data.info%>
                        </p>
                    </div>
                    <div class="col align-self-right text-right">
                        <div id="clips-array">
                        </div>
                    </div>
                </div>
    </div>
</div>

<a hidden href="javascript:void(0);" id="clips-remove" class="fas fa-trash-alt" style="margin-left: 5%;"
    onclick="removeclip(this)"></a>


<script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let _width = $(window).width();
    if (_width < 651) {
        $(".desktop-header").attr("hidden", true);
        $(".mobile-header").attr("hidden", false);
    }
</script>
<script>
    const player = new Plyr('#player');
    let role = '<%-role%>';
    var raw_clips = '<%-data.clips%>';
    let clips = null;
    if (raw_clips) {
        clips = raw_clips.split(',');
    }
    var clips_html = document.getElementById('clips-array')
    if (role == 'admin') {
        console.log('<%-role%>');
        var clips_modal = document.getElementById('clips-modal');
    }
    console.log(raw_clips);
    for (i in clips) {

        //ROW//
        let row = document.createElement("div");
        row.className = "row justify-content-center align-items-center"

        //NAME TO ACCESS VIDEO//
        let a = document.createElement("a");
        a.href = '/clip?storage=' + '<%-data.storage%>' + '&name=' + clips[i];
        a.target = '_blank'
        a.innerHTML = clips[i];

        // P REMOVE //
        let p = document.createElement("p");
        let template = $("#clips-remove").clone();
        template.removeAttr('hidden');
        p.innerHTML = clips[i];

        // BR //
        let br = document.createElement("br");
        a.appendChild(br);
        template.appendTo(p);


        if (role == 'admin') {
            clips_modal.appendChild(p);
        }
        row.appendChild(a);
        if (role == 'admin') {
            let dl = document.createElement("a");
            dl.target = '_blank'
            dl.href = `/clip/dl?storage=${'<%-data.storage%>'}&name=${clips[i]}`;
            dl.className = "dw-insta fas fa-file-download"
            dl.setAttribute('download', "download");
            row.appendChild(dl)
        }
        clips_html.appendChild(row);
    }


    function removeclip(e) {
        let text = $(e.parentNode).text();
        let id = '<%-data.id%>';
        let storage = '<%-data.storage%>';
        let data = {
            ID: id,
            storage: storage,
            name: text
        };
        let json = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/clip/remove");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                document.location.reload();
            }
        }
        xhr.send(json);
    }
</script>

<script>
    function updateInfo(id) {
        var e = document.getElementById('information');
        var data = {
            ID: id,
            value: e.value
        };
        var json = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update/info");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                document.location.reload();
            }
        }
        xhr.send(json);
    }

    function insta(id) {
        var e = document.getElementById('instagram');
        let _width = $(window).width();
        if (_width < 651) {
            e = document.getElementById('_instagram');
        }
        var data = {
            ID: id,
            value: e.value
        };
        var json = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update/insta");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                document.location.reload();
            }
        }
        xhr.send(json);
    }

    function myDelete(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover it!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    var data = {
                        ID: id
                    };
                    var json = JSON.stringify(data);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/delete/");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            swal("The data has been deleted!", {
                                icon: "success",
                            }).then((willDelete) => {
                                window.location.href = '/data';
                            });
                        }
                    }
                    xhr.send(json);
                } else {
                    swal("Operation dropped", {
                        icon: "info",
                    });
                }
            });
    }

</script>